@charset "gb2312"; 
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea{padding:0px; margin:0px; border:none;}
a{ color:#FFF; text-decoration:none; transition:color 0.3s ease;}
a:active,a:hover { text-decoration:none;transition:color 0.3s ease;}
a:focus,input:hover,button:hover,input[type='button']:hover{ outline:none;}
i, em, cite { font-style: normal; }
li{ vertical-align:bottom; overflow:hidden; list-style-type:none;}
/* 禁止webkit横屏改变字体大小 */
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

/* 设置HTML5元素为块 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,option {display:block;padding:0px; margin:0px; border:none;}

/* 超出隐藏 */
.overflow{ overflow:hidden;}        
		          
/* float */
.fl{ float: left; }
.fr{ float: right;}

/* 图片自适应调整 并解决图片缩放的失真问题*/
img{height:auto;border:none; interpolation-mode: bicubic;}

/* 文字居中 */
.txt-center{ text-align:center;}
.txt-justify{ text-align:justify; text-justify:inter-ideograph;}

.txt-left{text-align:left;}
.txt-right{text-align:right;}
/* 自动换行 */
.word-auto{word-wrap: break-word;word-break: normal;}

/* 自动居中 */
.mg-auto{ margin-left:auto; margin-right:auto; position:relative;}

/* clearfix */  
.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{ *zoom:1;}
.bd0{ border-bottom:0;}
.bd{ border-bottom:solid 1px #DDDCDD}.bd-gray{border-bottom:solid 1px #e4e2e2}
.bdall{border:solid 1px #dddcdd;}.bdt{ border-top:solid 1px #DDDCDD}
.mgb30{ margin-bottom:30px;}.mgb20{ margin-bottom:20px;}.mgb10{ margin-bottom:10px;}.mgb40{ margin-bottom:40px;}
.mgb80{ margin-bottom:80px;}.mgb50{ margin-bottom:50px;}.mgb60{ margin-bottom:60px;}.mgb80{ margin-bottom:80px;}
.mgb100{ margin-bottom:100px;}.mgl-10{ margin-left:10px;}
.pdb30{ padding-bottom:30px;}.pdt30{ padding-top:30px;}
.mgt30{ padding-top:30px;}.pdt60{ padding-top:60px;}.pdt10{ padding-top:10px;}

/* transtion-Hover */
.tianstion{ 
    transition:all ease 0.4s; 
	-moz-transition:all ease 0.4s; 
	-ms-transition:all ease 0.4s; 
	-o-transition:all ease 0.4s;
	-webkit-transition:all ease 0.4s;
}
.area{ min-width:768px; max-width:1000px; width:1000px;}

@media screen and (max-width : 767px) {
body{ font-size:12px;}
.wrap{ width:100%}
.area{ width:767px; padding-left:25px;}
.foot{ width:90%;}
.project-card-item .front,.flip .front{ width:190px; height:190px;line-height:13em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .back,.flip .back{ width:190px; height:190px;line-height:13em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .front p, .flip .front p{ padding-top:4em;}
.bg5 .project-card-item .cool img{ padding-top:3em}
.bg5 .project-card-item .front b{top:-2em;}
.flip div.back ul{ padding-top:30px;}
.returnTop{margin-left:383px;}
.weixin{ display:none;}
.existPersistProductDetail .personLeft .listNav ul li.lastOne{ margin-left:0;}
.returnTop{margin-left:300px;}
}
@media screen and (min-width: 768px) and (max-width: 800px) {
body{ font-size:12px;}
.wrap{ width:100%}
.area{ width:96%;}
.project-card-item .front,.flip .front{ width:190px; height:190px; line-height:14em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .back,.flip .back{ width:190px; height:190px;line-height:13em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .front p, .flip .front p{ padding-top:4em;}
.bg5 .project-card-item .cool img{ padding-top:3em}
.bg5 .project-card-item .front b{ top:-2em;}
.flip div.back ul{ padding-top:35px;}
.weixin{ display:none;}
.existPersistProductDetail .personLeft .listNav ul li.lastOne{ margin-left:0;}
.returnTop{margin-left:300px;}
}
@media screen and (min-width: 801px) and (max-width: 992px) {
body{ font-size:12px;}
.wrap{ width:100%}
.area{ width:96%;}
.project-card-item .front,.flip .front{ width:200px; height:200px;line-height:14em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .back,.flip .back{ width:200px; height:200px;line-height:13em;  border:solid 8px #CCC;border-radius:50%; overflow:hidden}
.project-card-item .front p, .flip .front p{ padding-top:4em;}
.bg5 .project-card-item .cool img{ padding-top:3em}
.bg5 .project-card-item .front b{ top:-2em;}
.flip div.back ul{ padding-top:35px;}
.existPersistProductDetail .personLeft .listNav ul li.lastOne{ margin-left:0;}
.returnTop{margin-left:300px;}
}

@media screen and (min-width: 993px) and (max-width: 1200px)  {
body{ font-size:12px;}
.wrap{ width:100%}
.area{ width:990px;}
.returnTop{margin-left:454px;}

}

@media screen and (min-width: 1201px) and (max-width: 9999px) {
body{ font-size:12px;}
.wrap{ width:100%;}
.area{ width:1000px;}
.returnTop{margin-left:520px;}
}
